[Unit]
Description=Portal
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/portal
ExecStart=/home/pi/portal
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
