[Unit]
Description=Portal
Documentation=https://github.com/ritamsarmah/portal
After=network.target
Wants=network.target

[Service]
Type=simple
EnvironmentFile=/home/pi/.env
ExecStart=/home/pi/portal
WorkingDirectory=/home/pi
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
